@{
    ViewData["Title"] = "APPS DEV"; 
    var time = DateTime.Now.ToString("hh:mm:ss tt"); 
}

<div class="text-center">
    <h1 class="display-4">AppsDev_0712</h1>
    <p>The time is: @time </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form>
        <input type="text" id="fullname" placeholder="Fullname" />
        <input type="text" name="lastname" placeholder="LastName" />
        <input type="radio" name="gender" value="Male" />
    </form>
    
    @{
        var fruits = new[]
        {
        new { ItemNumber = 1, FruitName = "Mango" },
        new { ItemNumber = 2, FruitName = "Grapes" },
        new { ItemNumber = 3, FruitName = "Lychee" }
        };
    }

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            margin: 0 auto;
        }

        th, td {
            text-align: center;
            padding: 4px 8px;
    </style>

    <h2>Favorite Fruits</h2>

    <table>
        <thead>
            <tr>
                <th>Item&nbsp;Number</th>
                <th>Fruit&nbsp;Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in fruits)
            {
                <tr>
                    <td>@f.ItemNumber</td>
                    <td>@f.FruitName</td>
                </tr>
            }
        </tbody>
    </table>   
    <br/>

    <form method="post">
        <input type="text" name="subject" placeholder="Subject" /><br /><br />


        <p>Streets in San Roque</p>
        <input type="checkbox" name="streets" value="Street1" /> Matiaga<br />
        <input type="checkbox" name="streets" value="Street2" /> Marilag<br />
        <input type="checkbox" name="streets" value="Street3" /> Mahusay<br /><br />
    </form>

    <textarea id="w3review" name="w3review" rows="4" cols="50">
        'I'm Sheirlyn, Hello po!:)'
    </textarea>
    <br/>
    <br/>

    <p style ="text-align:center"> Favorite Songs</p>
    <ul style="text-align:center">
        <li>The Shade - Rex Orange Country</li>
        <li>Nothing - Bruno Major</li>
        <li>Japanese Denim - Daniel Ceasar</li>
    </ul><br />
</div>
